.userGuideWrapper {
  display: flex;
  justify-content: center;
}

.userGuide {
  max-width: 700px;
  margin: 20px 50px;
  text-align: justify;
}

.userGuide ul {
  list-style: disc;
  padding-left: 20px;
}

.guideSection {
  margin: 20px 0;
}

.guideTitle {
  display: flex;
  gap: 10px;
}

.guideTitle h2 {
  font-size: 30px;
  font-weight: 800;
  color: #fd8585;
  margin-top: 20px;
  margin-bottom: 10px;
}

.userGuide ul li {
  font-size: 20px;
}
