.VideoWrapper {
  margin: 20px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.recipeVideo {
  width: 100%;
  height: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  /* 'overflow: hidden' hides any content that goes outside the element's boundary */
  overflow: hidden;
}

.recipeTitle {
  font-family: 'overpass', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.714);
  border-bottom: 1px solid rgba(255, 189, 35, 0.874);
  padding-bottom: 20px;
  margin: 0 50px;
}

.recipeWrapper {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.ingredientsWrapper,
.instructionsWrapper {
  padding: 30px;
}

.ingredientsWrapper {
  border-right: 1px solid rgba(255, 189, 35, 0.874);
}

.sectionHeading {
  color: rgba(128, 128, 128, 0.72);
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 5px;
}

.ingredientItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dashed grey;
}

@media (max-width: 767px) {
  .recipeTitle {
    font-size: 25px;
    font-weight: 600;
  }

  .recipeWrapper {
    display: flex;
    flex-direction: column;
  }

  .ingredientsWrapper {
    border-right: none;
    border-bottom: 1px solid rgba(255, 189, 35, 0.874);
  }
}
