.dialogContent {
  background-color: rgb(237, 237, 237);
}

.dialogTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 800;
}

.dialogDescription div {
  font-size: 15px;
}
