.logoWrapper {
  display: flex;
  justify-content: center;
}

.sectionHeading {
  color: rgba(128, 128, 128, 0.72);
  font-weight: 1000;
  font-size: 20px;
}

.ingredientItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dashed grey;
}
